{% assign packages = site.data.data.packages %}
{% if packages %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    packages
  </h2>

  {% for package in packages %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ package.label }}</h3>
        <div class="price">{{ package.price }}</div>
      </div><!--//upper-row-->

    </div><!--//meta-->

    {% if package.details %}
    <div class="details">
      {{ package.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

