<!-- Javascript -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- custom js -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>

{% if site.analytics %}
  {% include analytics.html %}
{% endif %}