{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="section certifications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  {% if skills.detail %}
  <div class="intro">
    {{ skills.detail | markdownify }}
  </div><!--//intro-->
  {% endif %}
</section><!--//section-->
{% endif %}
