/* Green variables */
$theme-color: #1C1C1E;
//Title Section
$section-title-color: #04c95c;
//Sub Tiitle
$text-color: #6dd47e;
//Content
$text-color-secondary: #fff;
//company name etc
$text-grey: #90a9cb;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
//outerBG
$outer-bg: #43464B;
//innerBG
$inner-bg: #1C1C1E;
$inner-pad: 60px;
//Footer
$heart: #ff3300;
